{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>user Profile...</h1>
<br>

<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-2">
{% if page_user.profile_pic %}
    <img src="{{ page_user.profile_pic.url }}"  width="250" height="200" class="card-img" alt="...">
{% else %}
    <img src="{% static 'appblog/images/default-profile-photo.jpg' %}" alt="" class="card-img">
{% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{page_user.user.author}}</h5>
            <p class="small text-muted">
            </p>
          <p class="card-text">{{ page_user.bio }}</p>
        </div>
      </div>
    </div>
</div>

{% endblock %}