{% extends 'base.html' %}
{% block content %}



<h1>Post</h1>
<ul>
{% if user.is_authenticated %}
   {% for post in object_list %}
        <li><a href="{% url 'blog-detail' post.pk %}">{{post.title}}</a> - {{post.author}} - {{post.post_date}} - <small>
        {% if user.id == post.author.id %}
                <a href="{% url 'update_post' post.pk %}">Edit</a>
                <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% endif %}
   {% endfor %}

{% else %}
    {% for post in object_list %}
      <li><a href="{% url 'blog-detail' post.pk %}">{{post.title}}</a> - {{post.author}} - {{post.post_date}} - <small></small>
    {% endfor %}
{% endif %}
</small><br>

</ul>



{% endblock %}